<div class="form-add-educinst">
    <h4 [translate]="'list_educinst'">EducInst</h4>
    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label" [translate]="'educational_institution_list_TITLE'">Title</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputText" formControlName="title"  placeholder="title">
            </div>
            <label for="inputEmail" class="col-lg-2 control-label" [translate]="'educational_institution_list_ADDRESS'">Address</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" formControlName="address" placeholder="address">
            </div>
            <label for="inputEmail" class="col-lg-2 control-label" [translate]="'Timetable'">Timetable</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" formControlName="timetable" placeholder="timetable">
            </div>
            <!-- <div class="col-lg-10">
                <input type="time" class="form-control" id="inputEmail" formControlName="address" placeholder="address">
            </div> -->
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">

                <button type="submit" class="btn btn-primary" [translate]="'button_add'">Add</button>
            </div>
        </div>
    </form>
</div>
