<div class="bs-component">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>#</th>
                <th>Column heading</th>
                <th>Column heading</th>
                <th>Column heading</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; index as i;">
                <td>{{i+1}}</td>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.dateofbirth}}</td>
                <td><button (click)="onSubmitDelete(item.id)">delete</button></td>
                <td><button (click)="onSubmitUpdate(item, item.id)">update</button></td>
            </tr>
        </tbody>
    </table>
</div><!-- /example -->
<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmitAddPupil()">
    <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">PupilId</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="inputText" formControlName="id"  placeholder="id">
        </div>
        <button>addPupil</button>
        </div>
        </form>