<div class="form-add-user">
    <div class = "temp1">
    <div class="form-group">
        <select class="form-control" id="select" [(ngModel)]="selectedRole" (ngModelChange)="onChange($event)" >
            <option *ngFor="let c of select_list" [ngValue]="c"> {{c}} </option>
        </select>
    </div>
</div>
<div class="temp">
    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">

                <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label" [translate]="'admin_NAME'">Name</label>
                <div class="col-lg-10">
                <input type="text" class="form-control" id="inputText" formControlName="name" ></div>
      </div>
        </div>
            <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label" [translate]="'admin_DATE_OF_BIRTH'">Date</label>
            <div class="col-lg-10">
                <input type="date" class="form-control" id="inputText" formControlName="dateofbirth" >
            </div></div>
            <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label" [translate]="'admin_LOGIN'">Login</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" formControlName="login">
            </div></div>
            <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label" [translate]="'admin_PASSWORD'">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" formControlName="password" >
            </div></div>
            <div class="form-group">
            <div [ngSwitch]="selectedRole">
                <ng-template ngSwitchCase="Учень">
                    <label for="inputPassword" class="col-lg-2 control-label" [translate]="'add_user_GROUP_ID'">GroupId</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputPassword" formControlName="groupId" placeholder="groupId">
                    </div>
                </ng-template>
            </div>
            </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">

                <button type="submit" class="btn btn-primary" [translate]="'button_add'">Add</button>
            </div>
        </div>
    </form>
</div>
</div>