
<div class="bs-component">
    <h4 [translate]="'add_group'">Group</h4>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th [translate]="'educational_institution_list_TITLE'">TITLE</th>
                <th [translate]="'add_group_TEACHERID'">TEACHER ID</th>
                <th [translate]="'add_group_TEACHERNAME'">TEACHER NAME</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; index as i;">
                <td>{{i+1}}</td>
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.teacher.id}}</td>
                <td>{{item.teacher.name}}</td>
                <td><button (click)="onSubmit(item.id)">delete</button></td>
                <td><button (click)="onSubmitListPupil(item.id)">list pupil</button></td>
            </tr>
        </tbody>
    </table>
</div><!-- /example -->