
<div class="bs-component">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>#</th>
                <th>Column heading</th>
                <th>Column heading</th>
                <th>Column heading</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; index as i;">
                <td>{{i+1}}</td>
                <td>{{item.id}}</td>
                <td>{{item.number}}</td>
                <td></td>
                <td><button (click)="onSubmitDelete(item.id)">delete</button></td>
            </tr>
        </tbody>
    </table>
</div><!-- /example -->

