
<link rel="stylesheet" href="https://bootstraptema.ru/snippets/style/2015/bootswatch/bootstrap-sandstone-v3.3.6.css" media="screen">
<link rel="stylesheet" href="https://bootstraptema.ru/snippets/style/2015/bootswatch/custom.min.css">

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="\profile" class="navbar-brand">PersonalityID</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar">1</span>
                <span class="icon-bar">2</span>
                <span class="icon-bar">3</span>
            </button>
        </div>

        <div [ngSwitch]="userRole">
            <ul class="nav navbar-nav">
                <ng-template ngSwitchCase="Administrator">
                    <li><a href="\admin\adduser">AddUser</a></li>
                    <li><a href="\admin\addgroup">AddGroup </a></li>
                    <li><a href="\admin\listteacher">ListTeacher</a></li>
                    <li><a href="\admin\listpupil">ListPupil </a></li>
                    <li><a href="\admin\listgroup">ListGroup </a></li>
                </ng-template>
                <ng-template ngSwitchCase="Pupil">Pupil</ng-template>
                <ng-template ngSwitchCase="SuperAdministrator">
                    <li><a href="\superadmin\listeducinst">ListEducInst</a></li>
                    <li><a href="\superadmin\listdevice">ListDevice</a></li>
                    <li><a href="\superadmin\addeducinst">AddEducInst</a></li>
                    <li><a href="\superadmin\adddevice">AddDevice</a></li>
                    <li><a href="\superadmin\addadmin">AddAdmin</a></li>
                </ng-template>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search" (ngSubmit)="onSubmit()">
                <button type="submit" class="btn btn-default">Logout</button>
            </form>
        </ul>
    
    </div>
</div>


<router-outlet></router-outlet>
<!-- 
<form 
    [formGroup]="form" 
    (ngSubmit)="onSubmit()"
>
    <button type="submit" class="">
        Logout
    </button>
</form>
<router-outlet></router-outlet> -->
